%p
  %b Title:
  = @flashcard_set.title

#quizContainer
  #question
  #answer
  %a#true
    OK
  %a#false
    dunno :(

:javascript
  $(document).ready(function() {
    var quizJSON = #{
      a = @flashcard_set.flashcards.to_a.map {|x| '{"question":"'+x.question.to_s + '","' + 'answer":"' + x.answer.to_s+'"}'}
      "[" + a.join(",") + "]"
    }
    var quiz = new FlashcardsQuiz(quizJSON, $('#quizContainer'), $("#question"), $("#answer"), $("#true"), $("#false"));
    quiz.show();
  });