%h1
  = @flashcard_set.title

#quizContainer
  .panel.panel-primary
    .panel-heading
      %h1{:style => "text-align:center;"}
        %a#question{:style => "color:#fff;", :data => {:toggle=>"collapse", :target=>"#collapseAnswer"}, :aria => {:expanded=>"true", :controls=>"demo"}}
    #collapseAnswer.panel-collapse.collapse
      .panel-body
        %h1#answer{:style => "text-align:center;"}
        %div{:style => "text-align:center;"}
          %a.btn.btn-danger.btn-lg#false
            %span.glyphicon.glyphicon-remove{:aria => {:hidden => "true"}}
          %a.btn.btn-success.btn-lg#true
            %span.glyphicon.glyphicon-ok{:aria => {:hidden => "true"}}


:javascript
  $(document).ready(function() {
    var quizJSON = #{
      a = @flashcard_set.flashcards.to_a.map {|x| '{"question":"'+x.question.to_s + '","' + 'answer":"' + x.answer.to_s+'"}'}
      "[" + a.join(",") + "]"
    }
    var quiz = new FlashcardsQuiz(quizJSON, $('#quizContainer'), $("#question"), $("#answer"), $("#true"), $("#false"));
    quiz.show();
  });